<div class="container section-team">
    <div class="heading-base heading-base--medium text-center">Команда профессионалов</div>
    <div class="row team">
        {% for user in users %}
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="{{ user.User.image }}" srcset="{{ user.User.image }}" alt="">
                    </div>
                    <div class="team__item-name">{{ user.User.name }}</div>
                    <div class="team__item-post">{{ user.Role.title }}</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:{{ user.User.phone }}">{{ user.User.phone }}</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:{{ user.User.email }}">{{ user.User.email }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ paginator.first('<<') }}
        {{ paginator.prev('<') }}
        {{ paginator.numbers({'separator': '', 'modulus': 3}) }}
        {{ paginator.next('>') }}
        {{ paginator.last('>>') }}
    </div>
</div>
<div class="location">
    <div class="container">
        <div class="heading-base heading-base--medium text-center">Ждем вас в гости!</div>
        <div class="row">
            <div class="col col-md-6">
                <div class="location__gallery">
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="location__map"></div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials">
    <div class="container">
        <div class="row testimonials__top">
            <div class="col-md-6 offset-md-3">
                <div class="heading-base heading-base--medium text-center">Отзывы о нас</div>
            </div>
            <div class="col-md-3 text-right-md">
                <a class="btn btn-pink" href="#modal-add-testimonial" data-fancybox>Оставить отзыв</a>
            </div>
        </div>

        {% for review in last_reviews %}

{#        <div class="section-title">15 отзывов </div>#}
        <div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">{{ review.Review.sender }}</div>
                    <div class="testimonials__item-date">{{ review.Review.updated }}</div>

                </div>
                <div class="testimonials__item-text">
                    <strong>{{ review.Review.annotation }}</strong><br>
                    {{ review.Review.text }}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
