{{ form.create('Advertisement', {
    'enctype': 'multipart/form-data',
    'class': 'row popup-public__row',
    'url': {'plugin': 'agency', 'controller': 'realty', 'action': 'add'},
    'inputDefaults': {
        'label': {
            'class': 'ui-label'
        },
        'between': '<div>',
        'after': '</div>'
    }
}) }}
    {{ form.hidden('from_site', {'value': true}) }}
    <div class="col col-12 col-lg-4 popup-public__col">
        <div class="heading-base heading-base--medium">Подать объявление на продажу</div>
        {{ form.input('category_id') }}
        {% set temp = location.setDefaultParams({'label': {'class': 'ui-label'}}, true) %}
        {{ _view.element('Locations.Location/form', {'notUseLocationJS': true}) }}

        <div>
            <label class="ui-label">Регион страны *</label>
            <div>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Район *</label>
            <div>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Населенный пункт *</label>
            <div>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Район города</label>
            <div>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Улица</label>
            <div>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6">
                <label class="ui-label">Номер дома</label>
                <input class="ui-input" type="text">
            </div>
            <div class="col-12 col-xl-6">
                <label class="ui-label">Номер квартиры</label>
                <input class="ui-input" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Фамилия, Имя, Отчество *</label>
            <input class="ui-input" type="text">
        </div>
        <div>
            <label class="ui-label">Телефон *</label>
            <input class="ui-input" type="tel">
        </div>
        <div>
            <label class="ui-label">Электронная почта</label>
            <input class="ui-input" type="email">
        </div>
        <div>
            <label class="ui-label">Заголовок</label>
            <input class="ui-input" type="text">
        </div>
        <div>
            <label class="ui-label">Текст</label>
            <textarea class="ui-textarea"></textarea>
        </div>
        <div>
            <label class="ui-label">Стоимость *</label>
            <input class="ui-input" type="text" placeholder="Выбирете или введите значение">
        </div>
    </div>
    <div class="col col-12 col-lg-4 popup-public__col-gray offset-top-mod">
        <div>
            <label class="ui-label">Комнат в квартире *</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Площадь, кв.м. *</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Площадь, кв.м. *</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Площадь кухни, кв.м.</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Этаж *</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Этажность *</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Материал стен *</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Тип комнат</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Состояние</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Ремонт</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Лифт пассажирский</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Лифт грузовой</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Высота потолков м. </label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Вид из окна</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Санузел</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col col-12 col-lg-4 popup-public__col-gray offset-top-mod">
        <div>
            <label class="ui-label">Балкон</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Угловая</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Кадастровый номер</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Год постройки</label>
            <div>
                <input class="ui-input ui-input--theme-white" type="text">
            </div>
        </div>
        <div>
            <label class="ui-label">Сообщения от Авито</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Возможность ипотеки</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Ставка аукциона Cian</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Доля в квартире</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Онлайн показ</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Статус Недвижимости Авито</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Отопление</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div>
            <label class="ui-label">Видно только агентам - Циан</label>
            <div class="select-theme-white">
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 99</option>
                </select>
            </div>
        </div>
        <div class="popup-public__confirm">
            <label class="ui-checkbox ui-checkbox--theme-white">
                <input type="checkbox" checked hidden><span class="ui-checkbox__icon"><span class="icon-check_dark"></span></span><span class="ui-checkbox__text">заполняя данную форму, <br>вы даете
									<a href="#popup-policy" data-fancybox>согласие на обработку<br>ваших данных</a></span>
            </label>
            <div>
                <img src="images/robot.png" alt="">
            </div>
        </div>
        <div class="popup-public__buttons">
            <div class="row">
                <div class="col col-12 col-xl-6">
                    <input class="btn btn-default" type="submit" value="Опубликовать">
                </div>
                <div class="col col-12 col-xl-6">
                    <a class="btn btn-default" href="#">Добавить фото</a>
                </div>
            </div>
        </div>
    </div>
{{ form.end() }}
