<div class="container section-team">
    <div class="heading-base heading-base--medium text-center">Команда профессионалов</div>
    <div class="row team">
        {% for user in users %}
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        {% set userPicture = '/uploads/assets/images/user.png' %}
                        {% if user.User.image %}
                            {% set userPicture = '/'~user.User.image|trim('/', 'left') %}
                        {% endif %}
                        <img src="{{ userPicture }}" srcset="{{ userPicture }}" alt="">
                    </div>
                    <div class="team__item-name">{{ user.User.name }}</div>
                    <div class="team__item-post">{{ user.Role.title }}</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:{{ user.User.phone }}">{{ user.User.phone }}</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:{{ user.User.email }}">{{ user.User.email }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ paginator.first('<<') }}
        {{ paginator.prev('<') }}
        {{ paginator.numbers({'separator': '', 'modulus': 3}) }}
        {{ paginator.next('>') }}
        {{ paginator.last('>>') }}
    </div>
</div>
<div class="location">
    <div class="container">
        <div class="heading-base heading-base--medium text-center">Ждем вас в гости!</div>
        <div class="row">
            <div class="col col-md-6">
                <div class="location__gallery">
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="location__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A751f5b5f8b89960d9fb535f7098265c255fd0913a434c07c8375eb2742f11f4a&amp;source=constructor" width="630" height="442" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials">
    <div class="container">
        <div class="row testimonials__top">
            <div class="col-md-6 offset-md-3">
                <div class="heading-base heading-base--medium text-center">Отзывы о нас</div>
            </div>
            <div class="col-md-3 text-right-md">
                <a class="btn btn-pink" href="#order_review" data-fancybox>Оставить отзыв</a>
            </div>
        </div>
        <div class="section-title">{{ last_reviews|length }} отзывов </div>
        {% for last in last_reviews %}
        <div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">{{ last.Review.sender }}</div>
                    <div class="testimonials__item-date">{{ last.Review.updated }}</div>

                </div>
                <div class="testimonials__item-text">
                    <strong>{{ last.Review.annotation }}</strong><br>
                    {{ last.Review.text }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
