{% set adView = _view.loadHelper('Agency.AdView') %}
{% set imageResized = _view.loadHelper('ImageCompress.ImageResized') %}
{% set adSeo = _view.loadHelper('Agency.AdSeo') %}
{% set price = _view.loadHelper('Agency.Price') %}
{% set rusTime = _view.loadHelper('Fastadmin.RusTime') %}
{% set favorite = _view.loadHelper('Favorites.Favorite') %}
{% set complexCategory = _view.loadHelper('ComplexCategories.ComplexCategory') %}
{{ adView.setDefaults({default_picture: config.Site.no_photo_image}) }}
{% for item in list %}
    {% set offerItem = adView.getInfo(item) %}
    <div class="cards__item cards__item--mod-large">
        <div class="cards__item-section">
            <div class="cards__item-top cards__item-top--mod">
                <div class="heading-base heading-base--medium">Избранное</div>
                <div>
                    {% set favoriteActiveClass = '' %}
                    {% set favoriteAction = 'add' %}
                    {% if favorite.has('Advertisement', item.Advertisement.id) %}
                        {% set favoriteActiveClass = ' active' %}
                        {% set favoriteAction = 'remove' %}
                    {% endif %}
                    {{ html.link(html.tag('span', '', {'class': 'icon-heart_white'}), '#', {
                        'class': 'favorites-action in-favorites-action btn btn-card' ~ favoriteActiveClass,
                        'escape': false,
                        'data-model': 'Advertisement',
                        'data-id': item.Advertisement.id,
                        'data-action': favoriteAction
                    }) }}
                </div>
            </div>
            <div class="cards__item-gallery">
                {% set galleryList = adView.getGallery(item)['items'] %}
                {% set galleryList = imageResized.resizePicture(galleryList, {'width': '325', 'height': '275', 'mode': 'fit', 'paddings': false, 'folder': 'twig_fit_realty_list'}) %}
                {% for galleryItem in galleryList %}
                    <div><img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}"></div>
                {% endfor %}
            </div>
            <div class="cards__item-desc">
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <div class="cards__item-info">
                            <strong class="content_block" title="{{ adSeo.pattern_title(item)|e }}">{{ adSeo.pattern_title(item)|e }}</strong>
                        </div>
                    </div>

                    <div class="col col-12 col-md-6">
                        <div class="price"><span class="price__main">{{ price.format(item.Advertisement.price) }} </span><span class="price__currency">₽</span></div>
                    </div>
                </div>
                <div class="cards__item-info row">
                    <div class="col col-12 col-md-6">{{ item.Advertisement.location_full|e }}</div>
                    <div class="col col-12 col-md-6 price"><span class="price__main">{{ price.format(item.Advertisement.price_area) }} </span><span class="price__currency">₽</span><span class="price__footage"> м²</span></div>
                </div>
            </div>
        </div>
        <div class="cards__item-details">
            <div class="card-informers">
                {% set paramsValues = item.CategoryParamValues ?? [] %}
                {% set floor = complexCategory.getViewAliasesOptions('floor', paramsValues) %}
                {% set floors = complexCategory.getViewAliasesOptions('floors', paramsValues) %}
                {% set roomsNum = complexCategory.getViewAliasesOptions('rooms_num', paramsValues) %}
                {% set area = complexCategory.getViewAliasesOptions('area', paramsValues) %}
                <div class="card-informers__item"><span class="icon-stages_white card-informers__item-icon"></span><span>Этаж
                                    <strong>{{ floor }}/{{ floors }}</strong></span></div>
                <div class="card-informers__item"><span class="icon-bed_white card-informers__item-icon"></span><span>
                                    <strong>{{ roomsNum }}</strong> комнаты</span></div>
                <div class="card-informers__item"><span class="icon-house_white card-informers__item-icon"></span><span>
                                    <strong>{{ area }}</strong>м²</span></div>
            </div>
            <div class="cards__item-details-btn">
                <a class="btn btn-default btn-default--medium" href="/favorites">Перейти в избранное </a>
            </div>
        </div>
    </div>

{% endfor %}
