{{ _view.assign('title', adSeo.titleList()) }}
{{ croogo_region alias = "twig_search_block" }}
<div class="catalog">
    <div class="container">
        <div class="heading-base heading-base--medium text-center">Каталог недвижимости</div>
        <div class="catalog__sorting">
            <div class="sorting">
                {% set sortingValue = [_view.request.query('sort'), _view.request.query('direction')]|join('_') %}
                {% set sortingValue = sortingValue != '_' ? sortingValue|replace({'Advertisement.': ''}) : '' %}
                {% set sortingList = {
                    '': 'По актуальности',
                    'created_desc': 'Новые предложения',
                    'price_asc': 'Цена по возрастанию',
                    'price_desc': 'Цена по убыванию',
                    'param_area_asc': 'Площадь по возрастанию',
                    'param_area_desc': 'Площадь по убыванию'
                } %}
                <a class="sorting__main js-btn-window" href="#modal-sorting">
                    <span class="sorting__main-text">{{ sortingList[sortingValue] ?? 'По актуальности' }}</span>
                    <span class="icon-sort"></span>
                </a>
                {{ form.create('Advertisement', {
                    'url': {'plugin':'agency','controller':'realty','action':'index'},
                    'class':'sorting__modal js-window',
                    'id': 'modal-sorting',
                    'type': 'get'
                }) }}
                    <ul class="sorting__list">
                        {% for sortingKey, sortingItem in sortingList %}
                            <li>
                                <label class="btn-check"><input type="radio" class="sorting-list" name="data[Advertisement][sorting]" {% if sortingValue == sortingKey %} checked {% endif %} value="{{ sortingKey }}" hidden>
                                    <span class="btn-check__icon"><span class="icon icon-check"></span></span>
                                    <span class="btn-check__text">{{ sortingItem }}</span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                {{ form.end() }}
            </div>
        </div>
        <div class="section-title">{{ paginator.params.current }} объектов</div>
        <div>
            {{ adView.setDefaults({default_picture: config.Site.no_photo_image}) }}
            {% for item in list %}
                {% set offerItem = adView.getInfo(item) %}
                <div class="catalog__item">
                    <div class="catalog__item-gallery is-lg-visible">
                        <div>
                            <div class="catalog__item-gallery-items">
                                {% set gallery = adView.getGallery(item) %}
                                {% if gallery.items %}
                                    {% set galleryList = gallery.items %}
                                {% else %}
                                    {% set galleryList = [gallery.first] %}
                                {% endif %}
                                {% set galleryList = imageResized.resizePicture(galleryList, {'width': '325', 'height': '275', 'mode': 'fit', 'paddings': false, 'folder': 'twig_fit_realty_list'}) %}
                                {% for galleryItem in galleryList %}
                                    <div><img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}"></div>
                                {% endfor %}
                            </div>
                            <div class="catalog__item-buttons">
                                {% set favoriteActiveClass = '' %}
                                {% set favoriteAction = 'add' %}
                                {% if favorite.has('Advertisement', item.Advertisement.id) %}
                                    {% set favoriteActiveClass = ' active' %}
                                    {% set favoriteAction = 'remove' %}
                                {% endif %}
                                {{ html.link(html.tag('span', '', {'class': 'icon-heart_white'}), '#', {
                                    'class': 'favorites-action btn btn-card btn-card--large' ~ favoriteActiveClass,
                                    'escape': false,
                                    'data-model': 'Advertisement',
                                    'data-id': item.Advertisement.id,
                                    'data-action': favoriteAction
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item-section">
                        <div class="catalog__item-main">
                            <div class="catalog__item-main-section">
                                <div class="catalog__item-info-section">
                                    {{ html.link(adSeo.pattern_title(item)|e, offerItem.url, {'class': 'catalog__item-title'}) }}

                                    <div class="catalog__item-adress">{{ item.Advertisement.location_full|e }} </div>
                                    <div class="card-informers">
                                        {% set paramsValues = item.CategoryParamValues ?? [] %}
                                        {% set floor = complexCategory.getViewAliasesOptions('floor', paramsValues) %}
                                        {% set floors = complexCategory.getViewAliasesOptions('floors', paramsValues) %}
                                        {% set roomsNum = complexCategory.getViewAliasesOptions('rooms_num', paramsValues) %}
                                        {% set area = complexCategory.getViewAliasesOptions('area', paramsValues) %}
                                        {% if(floor and floors) %}
                                            <div class="card-informers__item">
                                                <span class="icon-stages_gray card-informers__item-icon"></span>
                                                <span>Этаж<strong>{{ floor }}/{{ floors }}</strong></span>
                                            </div>
                                        {% endif %}
                                        {% if roomsNum %}
                                            <div class="card-informers__item">
                                                <span class="icon-bed_gray card-informers__item-icon"></span>
                                                <span><strong>{{ roomsNum }}</strong> комнаты</span>
                                            </div>
                                        {% endif %}
                                        {% if area %}
                                            <div class="card-informers__item">
                                                <span class="icon-house_gray card-informers__item-icon"></span>
                                                <span><strong>{{ area }}</strong>м²</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="catalog__item-prices">
                                    <div class="price price--size-large">
                                        <span class="price__main">{{ price.format(item.Advertisement.price) }}</span>
                                        <span class="price__currency">₽</span>
                                    </div>
                                    <div class="price price--size-large">
                                        <span class="price__main">{{ price.format(item.Advertisement.price_area) }}</span>
                                        <span class="price__currency">₽</span>
                                        <span class="price__footage">м²</span>
                                    </div>
                                    <div class="catalog__item-gallery is-lg-hidden">
                                        <div>
                                            <div class="catalog__item-gallery-items">
                                                {% for galleryItem in galleryList %}
                                                    <div><img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}"></div>
                                                {% endfor %}
                                            </div>
                                            <div class="catalog__item-buttons">
                                                {{ html.link(html.tag('span', '', {'class': 'icon-heart_white'}), '#', {
                                                    'class': 'favorites-action btn btn-card btn-card--large' ~ favoriteActiveClass,
                                                    'escape': false,
                                                    'data-model': 'Advertisement',
                                                    'data-id': item.Advertisement.id,
                                                    'data-action': favoriteAction
                                                }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if item.Rieltor.id %}
                                <div class="catalog__item-agent">
                                    <div class="catalog__item-agent-photo">
                                        {% set userPicture = '/uploads/assets/images/user.png' %}
                                        {% if item.Rieltor.image %}
                                            {% set userPicture = '/'~item.Rieltor.image|trim('/', 'left') %}
                                        {% endif %}
                                        <img src="{{ userPicture }}" srcset="{{ userPicture }}" alt="{{ item.Rieltor.name }}">
                                    </div>
                                    <div class="catalog__item-agent-main">
                                        <div>ваш агент</div>
                                        <div class="catalog__item-agent-name">
                                            <strong>{{ item.Rieltor.name }}</strong>
                                        </div>
                                        {% if item.Rieltor.phone %}
                                            <div class="contact-item contact-item--size-mini">
                                                <a class="contact-item__link" href="tel:{{ item.Rieltor.phone }}">
                                                    <span class="contact-item__icon"><span class="icon-tel_blue"></span></span>
                                                    <span>{{ item.Rieltor.phone }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if item.Rieltor.email %}
                                            <div class="contact-item contact-item--size-mini">
                                                <a class="contact-item__link" href="mailto:{{ item.Rieltor.email }}">
                                                    <span class="contact-item__icon"><span class="icon-mail_blue"></span></span>
                                                    <span>{{ item.Rieltor.email }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="catalog__item-agent-btn">
                                            <a class="btn btn-default btn-default--medium" href="#contact_with_agent" data-fancybox data-id="{{ item.Advertisement.id }}">
                                                Связаться с агентом
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="catalog__item-bottom">
                            <div class="catalog__item-desc">{{ adView.getSiteText(item)|striptags }}</div>
                            <div class="catalog__item-date">{{ rusTime.formatDate(item.Advertisement.created)|e }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        {{ paginator.first('<<') }}
        {{ paginator.prev('<') }}
        {{ paginator.numbers({'separator': '', 'modulus': 7}) }}
        {{ paginator.next('>') }}
        {{ paginator.last('>>') }}
    </div>
</div>
