{{ form.create('Advertisement', {
    'enctype': 'multipart/form-data',
    'class': 'row popup-public__row',
    'url': {'plugin': 'agency', 'controller': 'realty', 'action': 'add'},
    'inputDefaults': {
        'label': {
            'class': 'ui-label'
        },
        'between': '<div>',
        'after': '</div>'
    }
}) }}
    {{ form.hidden('from_site', {'value': true}) }}
    {{ form.hidden('contractor_id') }}
    {{ form.hidden('Contractor.0.id') }}
    <div class="col col-12 col-lg-4 popup-public__col">
        <div class="heading-base heading-base--medium">Подать объявление на продажу</div>
        {{ form.input('category_id') }}

        {% set locationFormEdit = _view.loadHelper('Locations.LocationFormEdit') %}

        {{ form.input('Location.location_region_id', {
            'data-field': 'Location.location_region_id',
            'data-placeholder': location.getPlaceholder('LocationRegion'),
            'data-source': '/locations/data/index/LocationRegion',
            'empty': true,
            'options': locationFormEdit.getValues('LocationRegion'),
            'class': 'JS-location-region location-select2',
            'required': location.hasRequiredField('LocationRegion'),
            'default': location.getDefault('LocationRegion'),
            'label': {'class': 'ui-label', 'text': location.getLabel('LocationRegion', location.hasRequiredField('LocationRegion'))},
        }) }}

        {{ form.input('Location.district_id', {
            'data-field': 'Location.district_id',
            'data-placeholder': location.getPlaceholder('District'),
            'data-source': '/locations/data/index/District/location_region:',
            'data-depends': '.JS-location-region',
            'empty': true,
            'options': locationFormEdit.getValues('District'),
            'class': 'JS-district location-select2',
            'required': location.hasRequiredField('District'),
            'default': location.getDefault('District'),
            'label': {'class': 'ui-label', 'text': location.getLabel('District', location.hasRequiredField('District'))},
        }) }}

        {{ form.input('Location.locality_id', {
            'data-field': 'Location.locality_id',
            'data-placeholder': location.getPlaceholder('Locality'),
            'data-source': '/locations/data/index/Locality/district:',
            'data-depends': '.JS-district',
            'empty': true,
            'options': locationFormEdit.getValues('Locality'),
            'class': 'JS-locality location-select2',
            'required': location.hasRequiredField('Locality'),
            'default': location.getDefault('Locality'),
            'label': {'class': 'ui-label', 'text': location.getLabel('Locality', location.hasRequiredField('Locality'))},
        }) }}

        {{ form.input('Location.sub_locality_id', {
            'data-field': 'Location.sub_locality_id',
            'data-placeholder': location.getPlaceholder('SubLocality'),
            'data-source': '/locations/data/index/SubLocality/locality:',
            'data-depends': '.JS-locality',
            'empty': true,
            'options': locationFormEdit.getValues('SubLocality'),
            'class': 'JS-sub-locality location-select2',
            'required': location.hasRequiredField('SubLocality'),
            'default': location.getDefault('SubLocality'),
            'label': {'class': 'ui-label', 'text': location.getLabel('SubLocality', location.hasRequiredField('SubLocality'))},
        }) }}

        {{ form.input('Location.street_id', {
            'data-field': 'Location.street_id',
            'data-placeholder': location.getPlaceholder('Street'),
            'data-source': '/locations/data/index/Street/locality:',
            'data-depends': '.JS-locality',
            'empty': true,
            'options': locationFormEdit.getValues('Street'),
            'class': 'JS-street location-select2',
            'required': location.hasRequiredField('Street'),
            'default': location.getDefault('Street'),
            'label': {'class': 'ui-label', 'text': location.getLabel('Street', location.hasRequiredField('Street'))},
        }) }}

        <div class="row">
            {{ form.input('Location.house_number', {
                'data-field': 'Location.house_number',
                'class': 'JS-house-number ui-input',
                'div': 'col-12 col-xl-6 house-number',
                'between': '',
                'after': '',
                'required': location.hasRequiredField('HouseNumber'),
                'label': {'class': 'ui-label', 'text': location.getLabel('HouseNumber', location.hasRequiredField('HouseNumber'))},
            }) }}
            {{ form.input('Advertisement.apartment', {
                'data-field': 'Advertisement.apartment',
                'class': 'JS-apartment ui-input',
                'div': 'col-12 col-xl-6 JS-apartment-container',
                'between': '',
                'after': '',
                'data-categories': location.getCategoriesShowField('apartment', 'json', 7),
                'required': location.hasRequiredField('ApartmentNumber'),
                'label': {'class': 'ui-label', 'text': location.getLabel('ApartmentNumber', location.hasRequiredField('ApartmentNumber'))},
            }) }}
        </div>

        {{ form.input('Contractor.0.fio', {
            'between': '',
            'type': 'text',
            'after': '',
            'required': true,
            'class': 'ui-input',
            'label': {'class': 'ui-label', 'text': 'Фамилия, Имя, Отчество *'}
        }) }}

        {{ form.input('Contractor.0.phone', {
            'between': '',
            'type': 'tel',
            'after': '',
            'required': true,
            'class': 'ui-input phone-mask phone-validate',
            'label': {'class': 'ui-label', 'text': 'Телефон *'}
        }) }}

        {{ form.input('Contractor.0.email', {
            'between': '',
            'type': 'email',
            'after': '',
            'class': 'ui-input',
            'label': {'class': 'ui-label', 'text': 'Электронная почта'}
        }) }}

        {{ form.input('title', {
            'between': '',
            'type': 'text',
            'after': '',
            'class': 'ui-input',
            'label': {'class': 'ui-label', 'text': 'Заголовок'}
        }) }}

        {{ form.input('text', {
            'between': '',
            'type': 'textarea',
            'after': '',
            'class': 'ui-textarea',
            'label': {'class': 'ui-label', 'text': 'Текст'}
        }) }}

        {{ form.input('price', {
            'between': '',
            'type': 'text',
            'after': '',
            'class': 'ui-input price-mask',
            'required': true,
            'label': {'class': 'ui-label', 'text': 'Стоимость *'}
        }) }}
    </div>
    <div class="col col-12 col-lg-8 popup-public__col-gray offset-top-mod">
        <div class="row">
            {{ croogo_region alias = "twig_category_params" }}
        </div>
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div id="AdvertisementPicture_list"></div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="popup-public__confirm">
                    <label class="ui-checkbox ui-checkbox--theme-white">
                        {{ form.checkbox('confirmation', {'checked': true,'hidden': true,'hiddenField': false,'value': 1}) }}
                        <span class="ui-checkbox__icon"><span class="icon-check_dark"></span></span>
                        <span class="ui-checkbox__text">заполняя данную форму, <br>вы даете <a href="#popup-policy" data-fancybox>согласие на обработку<br>ваших данных</a></span>
                    </label>
                    <div>
                        {% if recaptcha.hasKey() %}
                            {{ recaptcha.display_form({'id': 'realty_form', 'div': 'recaptcha-block'}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="popup-public__buttons">
                    <div class="row">
                        <div class="col col-12 col-xl-6">
                            {{ form.button('Опубликовать', {'type': 'submit', 'class': 'btn btn-default'}) }}
                        </div>
                        <div class="col col-12 col-xl-6">
                            {{ form.button('Добавить фото', {'type': 'button', 'class': 'btn btn-default JS-add-photo'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form.end() }}
{{ html.script('Agency.realty/edit/validation_rotate') }}
<div class="upload-form">
    {{ uploadForm.load({
        'url': '/file_upload/handler',
        'modelName': 'Advertisement',
        'pictureModelName': 'AdvertisementPicture',
        'foreignKey': 'advertisement_id',
        'container': '#AdvertisementPicture_list',
        'addBtn': false
    }) }}
</div>
